<style></style>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/uploader/kajinek_170512-141008_cib.jpg');"><span style="position: absolute; right: 10px; bottom: 10px; font-size: 12px; color:white;"><i>Foto ČTK</i></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Kauza Jiřího Kajínka událost za událostí</strong><br>
		Případ nejznámějšího vězně přehledně
	</h1>
        <h4>Lukáš Řezník</h4><br>
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header>

<div class="b-data__content" id="content">
<div class="row-main row-main--narrow">

<p>Prezident Miloš Zeman podepíše rozhodnutí o udělení milosti doživotně odsouzenému Jiřímu Kajínkovi. Připravili jsme pro vás časovou osu s událostmi v kauze Jiřího Kajínka.</p>
<p>Plzeňský soud uložil zřejmě nejznámějšímu českému vězni doživotní trest 23. června 1998. Odsoudil ho za to, že v roce 1993 zastřelil v serpentinách pod plzeňskou věznicí Bory podnikatele Štefana Jandu a jeho osobního strážce Juliána Pokoše. Druhý bodyguard útok přežil.</p>
<p>Na dodržování sedmileté podmínky, která má být součástí milosti prezidenta Miloše Zemana pro doživotně odsouzeného dvojnásobného vraha Jiřího Kajínka, by dohlížel Krajský soud v Plzni. Vyplývá to z trestního řádu. Miloš Zeman zastával v minulosti názor, že by odsouzeného Kajínka nepropouštěl. V dubnu tohoto roku ale změnil názor.</p>
<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1A3rdhAR7pMaRdQEJU3JGjJduXPV6cztHNUjNTLKWPAE&font=OpenSans-GentiumBook&lang=cz&initial_zoom=2&height=650' width='100%' max-width="1000" height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>

</div>
</div><script></script>
